@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('http://fonts.googleapis.com/earlyaccess/notokufiarabic.css');

boldOrange = #FF835B

html
	background-color white

body
	max-width 560px
	margin auto
	margin-top 50px
	font-family Source Sans Pro

.arabic
	font-family Noto Kufi Arabic
	&.left
		text-align right
		font-size 0.8em
		padding-right 8px
	b
		font-weight 600
		color boldOrange

.english
	font-family Source Sans Pro
	&.right
		font-size 1em
		padding-left 8px
	b
		font-weight 600
		color boldOrange

.main-head
	height 150px

.vertical-head-photo
	text-align center

.image-whole-collumn
	width 70%

.centered-titles
	text-align center

.name-h1
	font-weight 300
	font-size 2em
	&.arabic
		font-size 1.2em

.vertal-center
	padding-top 70px



.half
	width: 49.9690%;
	display inline-block
	zoom: 1
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;

.center-image
	text-align center

@media screen and (max-width: 400px)
	.half
		width 100%
		display block
	.arabic
		&.left
			font-size 1em
			line-height 1.8em
	.right
		padding 0 8px
	.left
		padding 0 8px
	.vertal-center
		padding-top 10px