boldOrange = #FF835B
brightOrange = #FDA634
darkestGray = #6E6E6E
darkerGray = #ddd
lightestGray = #ECECEC

html
	color #323232
	background-color white

body
	max-width 800px
	margin auto
	margin-top 50px
	margin-bottom 30px
	font-family Source Sans Pro

.arabic
	font-family Noto Kufi Arabic
	&.left
		line-height 2.2em
		text-align right
		font-size 0.8em
	b
		font-weight 600
		color boldOrange

.english
	font-family Source Sans Pro
	&.right
		line-height 1.6em
		font-size 1em
	b
		font-weight 600
		color boldOrange


/*intro section*/
#introduction
	max-width 600px
	margin auto
	text-align center
	#intro-header
		font-size 5em
		font-weight 700
	#intro-phrase
		font-weight 300
		margin 80px 20px 50px 20px
		font-size 2.5em
	.main-head
		height 200px
	.name-h1
		font-weight 200
		font-size 2.5em

#footer
	margin-top 50px
	text-align center
	font-weight 100
	#facebookShare
		font-family lobster
		font-size 3em
		color brightOrange

.image-whole-collumn
	width 60%
	margin auto

.centered-titles
	text-align center

.name-h1
	font-weight 300
	font-size 2.5em
	&.arabic
		font-size 1.7em
		line-height 1.4em

.vertical-center
	padding-top 10px


.flex-container
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

.flex-item
	padding 8px
	flex 1
	zoom: 1
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;

.center-image
	width 400px
	margin auto

/*Section Header*/
.sectionHeader
	position relative
	text-align center
	color darkestGray
	margin-top 100px
	margin-bottom 50px
	.fa
		font-size 8em
		color lightestGray
		position absolute
		top 0
		right 0
		left 0
		z-index -1
	.sectionNameEng
		font-size 2.7em
		padding-top 15px
	.sectionNameArb
		font-size 2.5em
		margin-top -20px

/*separating bar*/
.separator
	background-color brightOrange
	color white
	padding 5px
	text-align center
	margin 50px 0px

.candidate-profile
	margin-top 100px

/*Testimonials*/
.testimonial-container
	padding 30px

.testimonial-face-item
	padding 15px
	-webkit-transition: opacity 0.2s
	transition: opacity 0.2s
	cursor pointer
	border-radius 50%
	img
		width 100%
	&.inactive
		opacity 0.4
		&:hover
			opacity 0.8


/*Starting testimonial face*/
.testimonial-description
	text-align center
	.name-h1
		&.english
			font-weight 200
			font-size 3.2em
			margin-bottom -15px
		&.arabic
			font-size 1.8em
	.testimonial-quote
		position relative
		.english
			font-size 1.4em
			font-weight 200
			line-height 1.5em
		.arabic
			font-size 1.2em
		.quote
			position absolute
			font-size 12em
			z-index -10
			color #DDDDDD
		.left-quote
			line-height 0.5em
			top: 0px
			/*-webkit-animation: whaleAni 5s linear 0s infinite alternate-reverse;*/ /* Chrome, Safari, Opera */

		.right-quote
			line-height 0.2em
			bottom -50px
			right 0px
			/*-webkit-animation: whaleAni2 5s linear 0s infinite alternate-reverse;*/ /* Chrome, Safari, Opera */

@-webkit-keyframes whaleAni {
    0%   {top:0px; left: -10px}
    25% {top:5px}
    50% {top:0px; left: 0px }
    75% {top:-5px;}
    100% {top:0px; left: 10px}
}

@-webkit-keyframes whaleAni2 {
    0%   {bottom:-50px; right: -10px}
    25% {bottom:-55px;}
    50% {bottom:-45px; right: 0px }
    75% {bottom:-50px}
    100% {bottom:-55px; right: 10px}
}


.testimonial-face
	margin 0 auto

#ling-testimonial
	padding-top 30px
	.testimonial-face
		background: url("../images/testimonials/Brett.png"); 
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		height: 180px
		width: 180px
		overflow: hidden

#quan-testimonial
	padding-top 30px
	.testimonial-face
		background: url("../images/testimonials/Adam.png"); 
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		height: 180px
		width: 180px


@media screen and (min-width: 400px) and (max-width: 600px)
	.flex-item
		padding 0px
	body
		padding 8px
	.flex-container
		flex-direction column-reverse
	.testimonial-container
		padding 10px
		flex-direction row
		.testimonial-face-item
			padding 5px

@media screen and (max-width: 400px)
	body
		padding 5px
	.half
		width 100%
		display block
	.arabic
		&.left
			font-size 1em
			line-height 1.8em
	.vertical-center
		padding-top 10px
	.flex-container
		flex-direction column-reverse

	.center-image
		width auto

	/*testimonials*/
	.testimonial-container
		padding 0px
		flex-direction row
		.testimonial-face-item
			padding 3px
	.left-quote
		-webkit-animation none
	.right-quote
		-webkit-animation none
	