
html
	background-color white

body
	max-width 500px
	margin auto
	margin-top 50px
	font-family Source Sans Pro

.arabic
	font-family Noto Kufi Arabic

.main-head
	height 150px

.vertical-head-photo
	text-align center

.two-collumn
	width 100%

.centered-titles
	text-align center

.half
	width: 49.9690%;
	display inline-block
	zoom: 1
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;

@media screen and (max-width: 400px)
	.half
		width 100%
		display block